{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSULTAR HASHTAGS</title>
    <style>
        body {
      font-family: 'Arial', sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f5f5f5;
    }
    .contador{
        float: left;
        margin-left: 20px;
    }
    .hashtags{
        float: left;
    }
    </style>
</head>
<body>
    <h1>Consultar Hashtags</h1>
    <form method="get" action="{% url 'devolverHashtags' %}">
        {% csrf_token %}
        <label>Seleccione la fecha que quiere consultar:</label>
        <select name="fecha" id="fecha">
            {% for i in fechas %}
            <option value="{{ i }}" name="fecha">{{ i }}</option>
            {% endfor %}
        </select>
        <button type="submit">Consultar</button>
    </form>
    <br>
    {% if hashtags is not None %}
        <label>Hashtags encontrados en la fecha: <strong>{{ fecha_analizar }}</strong></label>
        <br>
        <br>
        <div class="hashtags">
            {% for i in hashtags %}
                <p>{{ i }}: </p>
            {% endfor %}
        </div>
        <div class="contador">
            {% for j in contador %}
                <p>{{ j }} mensajes</p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>

{% endblock %}