{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMACION DEL ESTUDIANTE</title>
</head>
<body>
    <h1>Informacion del Estudiante</h1>
    <h3>Nombre: Diego Aldair Sajche Avila</h3>
    <h3>Registro estudiantil: 201904490</h3>
    <h3>CUI: 3011869790101</h3>
    <h3>Curso: Laboratorio Introduccion a la Programacion y Computacion 2</h3>
    <h3>Seccion: D</h3>
</body>
</html>

{% endblock %}